apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "ngrok-wernight-config"
  namespace: "default"
  labels:
    app: "ngrok-wernight"
data:
  NGROK_AUTH: AUTH WITH YOU HAVE
  NGROK_PORT: {IF DIFFERENT HOST}:80
  NGROK_PROTOCOL: http
  NGROK_REMOTE_ADDR: REMOTE_ADDR WITH YOU HAVE
  NGROK_SUBDOMAIN: SUBDOMAIN WITH YOU HAVE