<div class="row">
    <div class="col-3 col-md-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-student-list" data-toggle="list"
                href="#list-student" role="tab" aria-controls="student"
                [ngClass]="{disabled:!student,active:student}">Student</a>
            <a class="list-group-item list-group-item-action" id="list-organizer-list" data-toggle="list"
                href="#list-organizer" role="tab" aria-controls="organizer"
                [ngClass]="{disabled:!organizer,active:!student && organizer}">Organizer</a>
        </div>
    </div>
    <div class="col-9 col-md-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show " [ngClass]="{active:student}" id="list-student" role="tabpanel"
                aria-labelledby="list-student-list">
                <div class="info" *ngIf="!studentClasses.length">You do not have any open booking!</div>
                <div class="card-columns">
                    <div class="card m-2 text-white bg-dark" *ngFor="let event of studentClasses">
                        <div class="card-header large text-center font-weight-bold text-capitalize">
                            {{event.name |  textLimit:["20","..."]}}
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row border-bottom pb-2">
                                    <div class="col-6">
                                        <div class="fromDate">{{event.fromDateFormated}}</div>
                                        <div class="fromTime small">Starting at {{event.fromTimeFormated}}</div>
                                    </div>
                                    <div class="col">
                                        <div class="toDate">{{event.toDateFormated}}</div>
                                        <div class="toTime small">Finishing at {{event.toTimeFormated}}</div>
                                    </div>
                                </div>
                                <div class="row m-1 pt-1" *ngIf="event.repeat">
                                    Recurrence: {{event.repeat}}
                                </div>
                                <div class="row m-1">
                                    Place: {{event.place.description }}
                                </div>
                                <div class="row m-1">
                                    City: {{event.place.city |  textLimit:["18","..."]}}
                                </div>
                                <div class="row m-1">
                                    Country: {{event.place.country |  textLimit:["18","..."]}}
                                </div>
                                <div class="row m-1">
                                    Style: {{event.danceStyle.name |  textLimit:["18","..."]}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="list-organizer" role="tabpanel" aria-labelledby="list-organizer-list"
                [ngClass]="{active:organizer && !student}">
                <div class="info" *ngIf="!classes.length">You did not create any event yet!</div>
                <div class="card-columns">
                    <div class="card m-2 text-white bg-dark" *ngFor="let event of classes">
                        <div class="card-header large text-center font-weight-bold text-capitalize">
                            {{event.name |  textLimit:["20","..."]}}
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row border-bottom pb-2">
                                    <div class="col-6">
                                        <div class="fromDate">{{event.fromDateFormated}}</div>
                                        <div class="fromTime small">Starting at {{event.fromTimeFormated}}</div>
                                    </div>
                                    <div class="col">
                                        <div class="toDate">{{event.toDateFormated}}</div>
                                        <div class="toTime small">Finishing at {{event.toTimeFormated}}</div>
                                    </div>
                                </div>
                                <div class="row m-1 pt-1" *ngIf="event.repeat">
                                    Recurrence: {{event.repeat}}
                                </div>
                                <div class="row m-1">
                                    Place: {{event.place.description }}
                                </div>
                                <div class="row m-1">
                                    City: {{event.place.city |  textLimit:["18","..."]}}
                                </div>
                                <div class="row m-1">
                                    Country: {{event.place.country |  textLimit:["18","..."]}}
                                </div>
                                <div class="row m-1">
                                    Style: {{event.danceStyle.name |  textLimit:["18","..."]}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>