.card { 
    min-width: 18rem;
    max-width: 18rem;
    min-height: 20rem;
    text-transform: capitalize;
}
.card .card-text {
    justify-content: space-between;
    display: flex;
    flex-flow: column;
}