apiVersion: "v1"
kind: "ConfigMap"
metadata:
  name: "reunion-backend-config"
  namespace: "default"
  labels:
    app: "reunion-backend"
data:
  MONGO: "mongo"
  MONGO_PREFIX: "mongodb://"
  MONGO_USER: "reunionuserusuario"
  MONGO_PASSWORD: "123asd123z"
  MONGO_PARAMS: ""
  MONGO_DATABASE: "reunion"