.fog {
    position: fixed;
    overflow: hidden;
    background-color: gray;
    opacity:0.9;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}
.close-model {
    color: red;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
}
.model-on-map {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 40em;
    width: 30em;
    padding: 2em;
    background-color: white;
    border-radius: 4%;
    z-index: 10;
}
@media(max-width: 900px){
    .model-on-map {
        top: 55vh;
        height: 65vh;
        width: 20em;
        overflow-y: auto;
    }
}